*{
    margin : 0px ; 
    box-sizing : border-box; 
}

.header{
    display: flex; 
    justify-content : space-between; 
    padding: 20px 25px ;
    background : #1f1f1f; 
    align-items: center ; 
    color: white; 
}

.link {
    text-decoration : none  ;
    color  : white  ; 
    margin : 3px 5px ;
    background : #42a5f5; 
    padding : 5px 15px ; 
    border-radius : 5px ;  

}

.route {
    display: flex; 
    justify-content : center;
    flex-direction : column;
    background:  #42a5f5; 
    min-height: 100vh  ; 
    padding: 8px 15px ; 
}

.cart-container{
    background: white ; 
    display : flex ; 
    flex-direction : column ; 
    align-items: center ;
    color : white ; 
    padding : 15px 5px ;
}
.menu-list-container{
    
    display : flex ; 
    flex-direction : column ; 
    align-items: center ; 
    background: #fbfbfb ; 
    padding : 15px 5px ; 
    

}

.menu-item {
    display : flex  ; 
    justify-content: space-between  ; 
    margin: 3px 5px; 
    padding: 2px 5px; 
}

.cart-count{
    background: black ; 
    border-radius  : 5px; 
    padding : 2px 5px; 
}

.bill-details{
    display : flex ; 
    flex-direction : column ; 
    align-items: center ; 
    /* background: #fbfbfb ;  */
    background: blue ;
    color : white ; 
    padding : 15px 5px ; 
}
.cart-title {
    color : black ; 
}
.bill-list{
    display: flex ; 
    background : green; 
    flex-direction : column ; 
    width : 70% ; 
}

.bill-item{
    display : flex ; 
    justify-content : space-between ; 
    list-style: none ; 
    margin : 5px 3px; 
    
}